.navbar-toggler{

    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{

    outline: none;
    box-shadow: none;
    border: 0;
}


.navbar-toggler span{
    margin: 0;
    padding: 0;
}


.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
}